# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
env.bak/
MYENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python-specific cache
*.pkl

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore system/editor temp files
*.swp
